body {
  background-color: #888;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

#tablet-api {
  position: absolute;
  top: -1000px;
}

#canvas-area {
  display: inline-block;
}

#color-picker {
  display: inline-block;
  vertical-align: top;
}

#color-picker:active {
  cursor: default;
}

#color-picker-sb {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

#color-picker-white {
  width: 150px;
  height: 150px;
  background-color: #fff;
}

#color-picker-saturate {
  width: 150px;
  height: 150px;
  margin-top: -150px;
  background-image: linear-gradient(to right, hsla(0, 100%, 50%, 0), red);
}

#color-picker-brightness {
  width: 150px;
  height: 150px;
  margin-top: -150px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

#color-picker-thumb {
  margin-top: -7.5px;
  margin-left: -7.5px;
  width: 11px;
  height: 11px;
  border-radius: 7.5px;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
}

#color-picker-checker {
  display: inline-block;
}

#color-picker-color {
  margin: 0;
}

#circle-brush {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 15px;
  background-color: #000;
}

.brush-image {
  height: 30px;
  width: auto;
  opacity: 0.5;
}

.brush-image:hover {
  cursor: pointer;
  opacity: 1;
}

.brush-image.on {
  opacity: 1;
}